networks:
  internet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1

  dmz:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.1.0/24
          gateway: 10.10.1.1

  internal:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.2.0/24
          gateway: 10.10.2.1

  control:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.3.0/24
          gateway: 10.10.3.1

services:
  # ============== ROUTING / FIREWALL ==============
  router:
    build: ./containers/router
    container_name: constellation_router
    #hostname: fw-northshield
    networks:
      internet:
        ipv4_address: 172.20.0.254
      dmz:
        ipv4_address: 10.10.1.254
      internal:
        ipv4_address: 10.10.2.254
    cap_add:
      - NET_ADMIN
    privileged: true
    sysctls:
      net.ipv4.ip_forward: "1"

  # ============== INTERNET ==============
  kali:
    build: ./containers/kali
    container_name: constellation-kali
    #hostname: kali-attacker
    networks:
      internet:
        ipv4_address: 172.20.0.100
    ports:
      - "2222:22"
      - "3389:3389"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    privileged: true
    stdin_open: true
    tty: true
    restart: unless-stopped
#    command: sh -c "
#      ip route add 10.10.1.0/24 via 172.20.0.254 &&
#      echo 'Route vers DMZ ajoutée' &&
#      tail -f /dev/null"

  # ============== DMZ ZONE ==============
  web-client:
    build: ./containers/dmz/web-client
    container_name: constellation-web-client
    #hostname: web-client
    networks:
      dmz:
        ipv4_address: 10.10.1.10
    ports:
      - "8080:80"
    depends_on:
      - db-server
    environment:
      - DB_HOST=db-server
      - DB_USER=webuser
      - DB_PASS=WebP@ss2024!
      - DB_NAME=northshield_clients
    cap_add:
      - NET_ADMIN
    command: sh -c "
      ip route add 172.20.0.0/24 via 10.10.1.254 &&
      echo 'Route vers INTERNET ajoutée' &&
      apachectl -D FOREGROUND"

  db-server:
    build: ./containers/dmz/db-server
    container_name: constellation-db
    #hostname: db-server
    networks:
      dmz:
        ipv4_address: 10.10.1.15
    # DEV MODE
    ports:
      - "2223:22"
    environment:
      - MYSQL_ROOT_PASSWORD=R00tP@ssDB2024!
      - MYSQL_DATABASE=northshield_clients
      - MYSQL_USER=webuser
      - MYSQL_PASSWORD=WebP@ss2024!
    cap_add:
      - NET_ADMIN
    command: sh -c "
      ip route add 10.10.2.0/24 via 10.10.1.254 &&
      echo 'Route vers INTERNAL ajoutée' &&
      /usr/sbin/sshd &&
      tail -f /dev/null"

  # ============== INTERNAL ZONE ==============

  file-server:
    build: ./containers/internal/file-server
    container_name: nightfire-fileserver
    hostname: file-server
    networks:
      internal:
        ipv4_address: 10.10.2.10
    cap_add:
      - NET_ADMIN
    command: sh -c "
      ip route add 10.10.1.0/24 via 10.10.2.254 &&
      echo 'Route vers DMZ ajoutée' &&
      ./start.sh &&
      tail -f /dev/null"